
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_UserLayout.cshtml";
}
<style>
    .row {
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">KIDSSTORE BE SHINN</h1>
        <img src="~/Assest/Client/images/full_collection_banner-2_1024x1024.jpg" />
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- /.row -->
